<div class="title-helper">PELAAJILLE</div>
<p>Pelaajahaku aukeaa kevään puolessa välissä. Ilmoitamme tarkemman ajankohdan myöhemmin kun saamme järjestelmämme valmiiksi.</p>
<h2>Voinko osallistua AKL:ään?</h2>
<p>
    Voit, jos opiskelet joko yliopistossa tai ammattikorkeakoulussa.
    Myös alumnit voivat osallistua AKL:ään.
    Tarvitset vähintään viisi pelaajaa joukkueesi joista kaikkien pitää täyttää nämä ehdot.
    Voit jo alkaa keräämään viiden pelaajan tiimiäsi valmiiksi ennen varsinaisen ilmoittautumisen alkua.
</p>