<div class="title-helper">TEKIJÄHAKU</div>

<h2>
    AKL tekijöitä
</h2>
<p>
    Haluatko olla tekemässä uutta AKL:ää?
    Tarvitsemme ihmisiä tekemään seuraavasta AKL:stä upean sensaation.
    Alta löytyy kuvaukset mahdollisista pesteistä.
    Lähetä meille vapaamuotoinen hakemus josta tulee ilmi miksi olisit paras tähän hommaan.
    Hakuaika on 28.2.-13.3. Lähetä siis hakemuksesi meille osoitteeseen
    <a href="mailto:akl@list.tietoteekkarikilta.fi">akl@list.tietoteekkarikilta.fi</a>.
    Ilmoitamme päätöksistämme hakuajan loputtua.
</p>

<h2>Pestit</h2>

<div class="row">
    <div class="col-md-6">
        <h3>
            Graafikot
        </h3>
        <ul>
            <li>Tarvitsemme koko ajan grafiikkaa julisteisiin, striimeihin ja sosiaaliseen mediaan.</li>
            <li>Haluamme osaamista videoeditointiin tai kuvankäsittelyyn.</li>
            <li>Lähetä mielellään hakemuksesi mukana jotain tekemääsi.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>
            Markkinointi
        </h3>
        <ul>
            <li>Markkinointi tiimi vastaa AKL:n sponsorien hankinnasta sekä sosiaalisen median kautta tiedottamisesta.</li>
            <li>Tiimiin haetaan myyntihenkistä ja sosiaalisessa mediassa viihtyvää tekijää.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>
            Selostajat
        </h3>
        <ul>
            <li>TODO</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>
            Tekniikka
        </h3>
        <ul>
            <li>Tekniikalla on suuri vastuu striimistä.</li>
            <li>Tekniikka pitää lähinnä aina striimiä pystyssä ja ohjaa striimiä.</li>
            <li>Tekniikka myös huolehtii servujen toimivuudesta ja päivittämisestä.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>
            Tuomarit
        </h3>
        <ul>
            <li>Tuomarit määrittelevät lähinnä turnauksen säännöt.</li>
            <li>He toimivat puolueettomina kiistatilanteiden ratkaisijoina ja vahtivat, että pelaajat pelaavat matseja aikataulussa.</li>
            <li>He ovat myös yhteydessä liigan pelaajiin ja vastaavat heidän kysymyksiinsä.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>
            Web-kehitys
        </h3>
        <ul>
            <li>Web-kehitys tiimi toteuttaa nettisivut AKL:aa varten.</li>
            <li>Lisäksi webbitiimi pyrkii myös automatisoimaan alkusarjan pelien aikataulutusta ja tuomarointia.</li>
            <li>Nettisivujen teknologioina käytetään mm. Angularia ja Springiä.</li>
        </ul>
    </div>
</div>