<div class="title-helper">YLEISÖLLE</div>
<h2>
    Mikä on AKL?
</h2>
<p>
    Tampereen Teknillisen Yliopiston tietotekniikan opiskelijoiden ainejärjestö TietoTeekkarikilta (TiTe) järjestää Suomen ensimmäisen korkeakouluopiskelijoille tarkoitetun Counter-Strike: Global Offensive liigan.
    Viime vuonna TiTe lähetti turnaukseen avoimen kutsun eri korkeakouluihin ympäri Suomen. Mukaan lähti 40 joukkuetta.
</p>
<p>
    Kesällä pelattiin lohkovaihe, josta 16 parasta joukkuetta eteni nyt pelattavaan pudotuspelivaiheeseen.
    Pudotuspelivaihe huipentuu Tampereen Hervannassa pelattavaan offline-finaaliin.
    17.10. elokuvateatteri Cinolassa pelataan Winners Bracketin finaali, Losers Bracketin finaali ja tietysti Grand Finaali.
    Pelistä löytyy tallenteet osoitteesta <a href="http://titeen.it/vod/akl/">http://titeen.it/vod/akl/</a> (ei toimi tällä hetkellä).
</p>
<p>
    Nyt järjestämme entistä ehomman AKL2:sen. Seuraavan AKL:n tiimihaku aukeaa kevään aikana ja itse turnaus alkaa kevään puolella.
</p>