<div class="container">
    <ul class="nav nav-pills akl-pills">
        <li class="active"><a href="#yleiso" data-toggle="tab">Yleisö</a></li>
        <li><a href="#pelaajat" data-toggle="tab">Pelaajat</a></li>
        <li><a href="#tekijat" data-toggle="tab">Tekijät</a></li>
    </ul>

    <h1>AKL - Akateeminen Kynäriliiga</h1>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="yleiso">{{> yleiso }}</div>
        <div class="tab-pane fade" id="pelaajat">{{> pelaajat }}</div>
        <div class="tab-pane fade" id="tekijat">{{> tekijat }}</div>
    </div>

    <p class="text-right text-footer">AKL:n järjestää <a href="http://tietoteekkarikilta.fi/">Tampereen TietoTeekkarikilta</a></p>
</div>
